## Print the numbers from 1 to 5 separated by commas.

In [29]:
# 1st Approach  
# for i in range(1,6):
#     if i < 5:
#         print(f"{i}", end=",")
#     else:
#         print(f"{i}")    

# 2nd Approach
print(*[i for i in range(1,6)], sep=",")

1,2,3,4,5

## Print the elements of a list [1, 2, 3, 4, 5] each on a new line.

In [30]:
mylist = [1,2,3,4,5]

# 1st Approach
# for element in mylist:
#     print(f"{element}")

# 2nd Approach
print(*mylist, sep="\n")

1
2
3
4
5

## Add an element to a list in Python? list = [11,1,2,3,4,4,12] elemet=5, index = 3

In [9]:
mylist = [11,1,2,3,4,4,12]
print(f"Before List : {mylist}")
mylist.insert(3,5)
print(f"After List : {mylist}")

Before List : [11, 1, 2, 3, 4, 4, 12]
After List : [11, 1, 2, 5, 3, 4, 4, 12]

## Find the length of a list? li = [1,2]

In [13]:
mylist = [1,2]
print(f"Length of the list is {len(mylist)}")

Length of the list is 2

 ## How do you concatenate two lists in Python? l1 = [1,2], l2 = [3,4]

In [14]:
list1 = [1, 2]
list2 = [3, 4]

print(f"List concatenation using (+) : {list1 + list2}")

List concatenation using (+) : [1, 2, 3, 4]

## Check if "1" an element is in a li = [1,2,3,5]?

In [12]:
mylist = [1,2,3,5]

if 1 in mylist:
    print("1 is present in the list.")
else:
    print("1 is not in the list.")

1 is present in the list.

## Replace 2 to 10 element in a li = [1,2,3,5]?

In [15]:
mylist = [1,2,3,4,5]
print(f"Before List : {mylist}")
mylist[mylist.index(2)] = 10
print(f"After List : {mylist}")

Before List : [1, 2, 3, 4, 5]
After List : [1, 10, 3, 4, 5]

## Sort a list in descending order? li = [1,2,5,4,3,2,1]

In [28]:
mylist = [1,2,5,4,3,2,1] 
print(f"Before List : {mylist}")

# 1st Approach
# mylist.sort(reverse = True)

# 2nd Approach
for i in range(len(mylist)):
    for j in range(len(mylist)):
        if mylist[i] > mylist[j]:
            mylist[i] += mylist[j]
            mylist[j] = mylist[i] - mylist[j]
            mylist[i] = mylist[i] - mylist[j]    

print(f"After List : {mylist}")

Before List : [1, 2, 5, 4, 3, 2, 1]
After List : [5, 4, 3, 2, 2, 1, 1]

## remove duplicates from a list? li = [1,2,1,3,4,2,3]

In [25]:
mylist = [1,2,1,3,4,2,3]
print(f"Before List : {mylist}")

# 1st Appraoch
# mylistset = set(mylist)
# mylist = list(mylistset)

# 2nd Approach
templist = []
for element in mylist:
    if element not in templist:
        templist.append(element)
mylist = templist
print(f"After List : {mylist}")

Before List : [1, 2, 1, 3, 4, 2, 3]
After List : [1, 2, 3, 4]

In [32]:
mylist = [1,2,1,3,4,2,3]

a, *_ , b = mylist

In [ ]:
a,b == b,a