# Question 1:
## Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
## The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints:
Consider use range(#begin, #end) method

In [30]:
factor_7 = []
for num in range(2000, 3200+1):
    if num % 7 == 0 and num % 5 != 0:
        factor_7.append(num)

print(*factor_7, sep=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2:
## Write a program which can compute the factorial of a given numbers.
## The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [31]:
number = int(input("Please enter the number whose factorial you want to find : "))
factorial = 1
for num in range(1,number+1):
    factorial = factorial * num

print(f"{factorial:,}")

Please enter the number whose factorial you want to find : 8
40,320

# Question 3:
## With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [1]:
length = int(input("Please enter the length of the dictionary : "))
mydict = {}
for num in range(1, length+1):
    mydict[num] = num * num

print(mydict)

Please enter the length of the dictionary :  8

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4:
## Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [33]:
com_sep_list = input("Please provide a comma separated list : ").strip()
mylist = list()
mytuple = tuple()

mylist = com_sep_list.split(",")
mytuple = tuple(mylist)

print(mylist, mytuple)

Please provide a comma separated list : 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

# Question 5:
## Define a class which has at least two methods:
getString: to get a string from console input

printString: to print the string in upper case.

Also please include simple test function to test the class methods.

Hints:
Use init method to construct some parameters

In [2]:
class MyString:
    def __init__(self):
        self.mystring = ""

    def getString(self):
        self.mystring = input("Please enter a String of your choice : ")

    def printString(self):
        print(self.mystring)

def test_MyString():
    manipulator = MyString()
    manipulator.getString()
    manipulator.printString()

test_MyString()
myobj = MyString()
myobj.getString()
myobj.printString()

Please enter a String of your choice :  Jawad

Jawad

Please enter a String of your choice :  Smai

Smai

# Question 6:
## Write a program that calculates and prints the value according to the given formula:
### Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24
Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [35]:
str_values_d = input("Please enter the comma separated values of variable D : ").strip().split(",")
int_values_d = [int(val) for val in str_values_d]
c_val = 50
h_val = 30
results = []
for d_val in int_values_d:
  results.append(round(((2*c_val*d_val)/h_val) ** 0.5))

print(*results, sep=",")

Please enter the comma separated values of variable D : 100,150,180
18,22,24

# Question:
## Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
### Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [36]:
digit_x = int(input("Please enter the value of the X : "))
digit_y = int(input("Please enter the value of the Y : "))

results = []
for i in range(digit_x):
  temp = []
  for j in range(digit_y):
    temp.append(i*j)
  results.append(temp)

print(results)

Please enter the value of the X : 5
Please enter the value of the Y : 3
[[0, 0, 0], [0, 1, 2], [0, 2, 4], [0, 3, 6], [0, 4, 8]]

# Question 8

## Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [37]:
words_seq = input("Please enter a sequence of words separated by commas : ").strip()
words_list = words_seq.split(",")

sorted_words_list = sorted(words_list)

print(*sorted_words_list, sep=",")

Please enter a sequence of words separated by commas : Happy,Birthday,To,You
Birthday,Happy,To,You

# Question 9:
## Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [38]:
def binary_to_decimal(binary_string: str):
  number = 0
  for indx, val in enumerate(binary_string):
    number += int(val) * 2 ** ((len(binary_string)-1)-indx)
  return number

binary_seq = input("Please enter a comma separated 4-digit binary numbers squence : ").strip().split(",")
results = []

for binary_string in binary_seq:
  if len(binary_string) == 4 and binary_to_decimal(binary_string) % 5 == 0:
    results.append(binary_string)

print(*results, sep=",")

Please enter a comma separated 4-digit binary numbers squence : 0100,0011,1010,1001
1010

# Question 10:
## Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [39]:
def all_digits_even(number: int):
  number_string = str(number)
  for i in number_string:
    if int(i) % 2 != 0:
      return False
  return True

results = []
for number in range(1000, 3000+1):
  if all_digits_even(number):
    results.append(number)

print(*results, sep=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

# Question 11:
## Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [40]:
number = int(input("Please enter a number : "))

num = str(number)
result = 0
for i in range(4):
  result += int(num)
  num += str(number)

print(result)

Please enter a number : 9
11106

# Question 12:
## A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [41]:
import re

def validate_password(password):
    pattern = r"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$#@]).{6,12}$"
    if re.match(pattern, password):
        return True
    else:
        return False

input_passwords = input("Enter a sequence of comma-separated passwords: ")
passwords = input_passwords.split(",")
valid_passwords = [password for password in passwords if validate_password(password)]
print(",".join(valid_passwords))

Enter a sequence of comma-separated passwords: ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

# Question 13:
## Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.
Hints:
Consider use yield

In [42]:
class DivisibleBySeven:
    def __init__(self, n):
        self.n = n

    def __iter__(self):
        for i in range(self.n + 1):
            if i % 7 == 0:
                yield i

number = int(input("Please enter a number : "))
for i in DivisibleBySeven(number):
    print(i)

Please enter a number : 9
0
7

# Question 14:
## Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.
Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()
And add document for your own function
Hints:
The built-in document method is doc

In [43]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def my_function(x, y):
    """
    This function adds two numbers.

    Args:
        x: The first number.
        y: The second number.

    Returns:
        The sum of x and y.
    """
    return x + y

print(my_function.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.


    This function adds two numbers.

    Args:
        x: The first number.
        y: The second number.

    Returns:
        The sum of x and y.

# Question 15:
## reverse this a = 123(type(a) will be int after reverse)

In [44]:
a = 123
a_rev_str = str(a)[::-1]
a_rev_int = int(a_rev_str)
print(a_rev_int,type(a_rev_int))

321 <class 'int'>

# Bonus Question

## Extract dates from the following string:

"This is a test to find dates from res = "my matic completion date is 12-10-2018, and my intermediate completion date is 12-23-2021""

In [45]:
import re

res = "my matic completion date is 12-10-2018, and my intermediate completion date is 12-23-2021"
dates = re.findall(r"\b\d{2}-\d{2}-\d{4}\b", res)
print(dates)

['12-10-2018', '12-23-2021']